@font-face {
    font-family: 'Fira';
    src: url('../fonts/FiraMono-Regular.otf');
}

body {
	background-image: url("../images/bodybg.jpg");
	background-repeat: repeat;
}

h1 {
	position: relative;
	font-family: Fira;
	color: #ffffff;
	align-content: center;
	text-align: center;
	font-size: 300%;
}

nav {
	font-family: Fira;
	background-image: url("../images/contentwrap.png") !important;
}

nav ul li.active {
    background-color: rgba(222,254,101,0.2);
}


p {
	font-family: Fira;
	color: #ffffff;
	text-align: center;
}

.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-image: url("../images/contentwrap.png");
	text-align: center;
	
}